{% extends "base.html" %}

{% block body %}
<div class="w-screen h-screen flex justify-center">
  <style>
      button {
      background-color: #8817cb;
      background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
      box-shadow: 0 0 0 0 #ec008c, 0.2rem 0.2rem 30px #6617cb;
      }
      button:hover {
      box-shadow: 0 0 0 0 #ec008c, 0.2rem 0.2rem 60px #6617cb;
      }

  </style>
  <div class="w-1/3 mr-1 container max-w-xs rounded-lg my-auto overflow-hidden shadow-lg my-2 bg-white">
    <div class="relative mb-6">
      <img class="w-full" src="https://unsplash.com/photos/PElJMFWV3kk/download?force=true&w=640"
           alt="Profile picture"/>
      <div class="text-center absolute w-full" style="bottom: -30px">
        <div class="mb-10">
          <p class="text-white tracking-wide uppercase text-lg font-bold">John Rei</p>
          <p class="text-gray-400 text-sm">@itsmee</p>
        </div>
        <button class="p-4 rounded-full transition ease-in duration-200 focus:outline-none">
          <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6">
            <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                     C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                     C15.952,9,16,9.447,16,10z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="py-10 px-6 text-center tracking-wide grid grid-cols-3 gap-6">
      <div class="posts">
        <p class="text-lg">324</p>
        <p class="text-gray-400 text-sm">Seeks</p>
      </div>
      <div class="followers">
        <p class="text-lg">7542</p>
        <p class="text-gray-400 text-sm">Followers</p>
      </div>
      <div class="following">
        <p class="text-lg">295</p>
        <p class="text-gray-400 text-sm">Following</p>
      </div>
    </div>
  </div>
  <div class="w-2/3 ml-1 container max-w-md my-auto rounded-lg h-auto overflow-hidden shadow-lg my-2 bg-white">
    <div class="text-2xl px-6 tracking-wide flex-col">
      <h1>Seeks</h1>
    </div>

    <div class="my-2 border-solid border-2 border-black rounded-lg">
      <div class="px-6 md:pl-10 xs:pl-10">
        <h2 class="text-md font-bold mb-2 hover:text-blue-600 leading-7">
          <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" id="article-link-151230">
            PC > Graphics Card
          </a>
        </h2>
        <div class="flex justify-between">
          <div class="py-1 text-gray-600 text-sm hover:text-black">
            <button class="text-xs mx-1 rounded-lg">
              <svg class="w-5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M7 10v8h6v-8h5l-8-8-8 8h5z"/>
              </svg>
            </button>
            <div class="my-auto">+15</div>
            <button class="text-xs mx-1 rounded-lg">
              <svg class="w-5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M7 10V2h6v8h5l-8 8-8-8h5z"/>
              </svg>
            </button>
          </div>
          <div class="mb-1 leading-6 text-right justify-self-end">
            <div class="text-2xl">
              GeForce RTX 3080S
            </div>
            <div class="mb-2 text-right">
              <a href="/t/javascript" class="text-sm text-gray-600 p-1 hover:text-black">
                <span class="text-opacity-50">#</span>
                javascript
              </a>
              <a href="/t/react" class="text-sm text-gray-600 p-1 hover:text-black">
                <span class="text-opacity-50">#</span>
                react
              </a>
              <a href="/t/tailwind" class="text-sm text-gray-600 p-1 hover:text-black">
                <span class="text-opacity-50">#</span>
                tailwind
              </a>
            </div>
          </div>
        </div>

        <div class="flex justify-end items-center">
          <div class="flex">


            <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd#comments"
               class="py-1 pl-1 pr-2 text-gray-600 text-sm rounded hover:bg-gray-100 hover:text-black">
              <svg class="inline fill-current" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path>
              </svg>
              20<span class="hidden md:inline">&nbsp;comments</span>
            </a>
            <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd"
               class="py-1 pl-1 pr-2 text-gray-600 text-sm rounded hover:bg-gray-100 hover:text-black">
              <span class="hidden md:inline">&nbsp;Share</span>
            </a>
            <a href="/hagnerd/setting-up-tailwind-with-create-react-app-4jd"
               class="py-1 pl-1 pr-2 text-gray-600 text-sm rounded hover:bg-gray-100 hover:text-black">
              <span class="hidden md:inline">&nbsp;Save as mine</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}